<div class="container">
    <div class="popup-wrap" id="popup">
        <div class="popup">
            <div class="popup-head">
                <span class="head-title"><h3>Advice List</h3></span>
            </div>
            <div class="popup-body">
                <div class="body-content">
                    <div class="body-contentbox">
                        <div class="popup-tablebox">
                            <table>
                                <div id="advice_table">
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-foot">
                <span class="pop-btn close" id="close">닫기</span>
            </div>
        </div>
    </div>
</div>
<center>
    <input type="text" style="display: none;" value="<%= post.post_no %>" id="post_no">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <table class="table table-responsive" id="content_table" border="1">
                <tr>
                    <td colspan="4">카테고리</td>
                    <td colspan="4"><%= post.post_kategorie %></td>
                </tr>
                <tr>
                    <td colspan="4">제목</td>
                    <td colspan="4"><%= post.post_title %></td>
                </tr>
                <tr>
                    <td colspan="4">작성자</td>
                    <td colspan="4"><%= post.user_id %></td>
                </tr>
                <tr>
                    <td colspan="4">게시일</td>
                    <td colspan="4"><%= post.date %></td>
                </tr>
                <tr>
                    <td colspan="8">소스코드</td>
                </tr>
                <div id="line">
            <!-- ----------게시글 줄당 출력---------- -->
            <% for(let i = 0; i < post.post_content.length; i++){ %>
                <tr onmouseover="this.style.background='#FFE4E1'" onmouseout="this.style.backgroundColor='#FFFFFF'">
                    <td><%= i %></td>
                    <td colspan="5"><pre><%= post.post_content[i] %></pre></td>
                    <td colspan="3">
                        <div class="btn-group" role="group" aria-label="Basic example" style="display:none;">
                            <button id="<%= 'modal-open'+i %>" type="button" class="btn btn-info">Advice 보기</button>
                            <a id="<%= 'popover'+i %>" data-html="true" href="#" data-toggle="tooltip" rel="comments"
                                class="btn btn-danger">Advice 등록</a>
                            <div class="popover" style="display: none;" id="<%= 'advice_line'+i %>">
                                <div class="popover-arrow"></div><h3 class="popover-header">Advice</h3>
                                <div class="popover-body"><div class="popover-content"><textarea class="popover-textarea" id="<%= 'textarea'+i %>"></textarea></div></div>
                                <div class="popover-footer">
                                    <button id="<%= 'popover_submit'+i %>" type="button" class="btn btn-primary">submit</button>&nbsp;
                                    <button id="<%= 'popover_cancel'+i %>" type="button" class="btn btn-default">cancel</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <%}%>
            <!-- ---------게시글 줄당 출력 끝--------- -->
            </div>
            </table>
        </div>
    </div>
</center>
<form action="/BackHome" method="POST">
    <button class="btn btn-outline-secondary" type="submit">글 목록</button>
</form>

<!-- 마우스를 대면 하이라이트 효과 -->
<script>
    $(document).ready(function() {
        $("#content_table tr").hover(
            function() { 
                var btn = $(this).children().children();
                btn.eq(1).show();
            },
            function() { 
                var btn = $(this).children().children();
                btn.eq(1).hide();
            });
    });
</script>

<!-- Advice 작성 -->
<!-- // //이 코드 링크 http://jsfiddle.net/phpdeveloperrahul/e9wYL/ -->
<!-- 빈 내용일 시 저장안하고 닫기만 하는 기능 추가 예정 -->
<script>
    //현재 어드바이스를 작성하는 line, td
    var selected_line
    var selected_td
    
    $(document).ready(function() {
        // Advice 작성
        // 현재 클릭한 버튼을 찾을수만 있다면 .on 함수 밖에서 동작하면서 완성될듯?
        $(document).on('click', '.btn-danger', function() {
            var $this = $(this);
            var checkBtn = $(this);
            selected_line = checkBtn.parent().parent().parent().children('td').eq(0).text()
            console.log(selected_line)
            selected_td = checkBtn.parent();
            console.log(selected_td.find('#popover_cancel'+selected_line))
            
            $(selected_td.children('#popover'+selected_line)).popover({
                    trigger     :   'click',
                    placement   :   'right',
                    html        :   true,
                    content     :   function() {
                        var pop =  selected_td.children('#advice_line'+selected_line)
                        return pop.show()
                    },
                    container   :   'body'
            });
            // cancel
            $(selected_td.find('#popover_cancel'+selected_line)).click(function() {
                $this.popover('dispose')
            });
            // submit
            $(selected_td.find('#popover_submit'+selected_line)).click(function() {
                var advice = $('#textarea'+selected_line).val()
                $.ajax({
                    url:'/write_advice',
                    type:'POST',
                    data:{
                        advice  : advice,
                        line    : selected_line,
                        post_no : $('#post_no').val()
                    },
                })
                $this.popover('dispose')
            });
        });
        // Advice 보기
        $(".btn-info").click(function(){
            var checkBtn = $(this);
            selected_line = checkBtn.parent().parent().parent().children('td').eq(0).text()
            $.ajax({
                    url:'/read_advice',
                    type:'POST',
                    data:{
                        line    : selected_line,
                        post_no : $('#post_no').val()
                    },
                    success:function(args){
                        $('#advice_table').html(args)
                    }
            })
            $("#popup").css('display','flex').hide().fadeIn();
        });
        $("#close").click(function(){
            modalClose();
        });
        function modalClose(){
            $("#popup").fadeOut();
        }
    });
</script>