
<center>
    <input type="text" style="display: none;" value="<%= post.post_no %>" id="post_no">
    <div class="col-lg-12" id="ex2_Result1" ></div>
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <table class="table table-responsive" id="content_table">
                <tr>
                    <td colspan="2">작성자</td>
                    <td colspan="2"><%= post.user_id %></td>
                    <td colspan="2">등록일</td>
                    <td colspan="2"><%= post.date %></td>
                </tr>
                <tr>
                    <td colspan="4">제목</td>
                    <td colspan="4"><%= post.post_title %></td>
                </tr>
                <tr>
                    <td colspan="4">카테고리</td>
                    <td colspan="4"><%= post.post_kategorie %></td>
                </tr>
                <tr>
                    <td colspan="8">Code</td>
                </tr>
                <div id="line">
            <!-- ----------게시글 줄당 출력---------- -->
            <% for(let i = 0; i < post.post_content.length; i++){ %>
                <tr onmouseover="this.style.background='#FFE4E1'" onmouseout="this.style.backgroundColor='#FFFFFF'">
                    <td><%= i %></td>
                    <td colspan="6"><pre><%= post.post_content[i] %></pre></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example" style="display:none;">
                            <button type="button" class="btn btn-primary" title="Enter comments">Advice 보기</button>

                            <a id="<%= 'popover'+i %>" data-html="true" href="#" data-toggle="tooltip" rel="comments"
                                class="btn btn-danger"><%= 'advice_line'+i %></a>

                            <div class="popover" style="display: none;" id="<%= 'advice_line'+i %>">
                                <div class="popover-arrow"></div><h3 class="popover-header">Advice</h3>
                                <div class="popover-body"><div class="popover-content"><textarea class="popover-textarea" id="<%= 'textarea'+i %>"></textarea></div></div>
                                <div class="popover-footer">
                                    <button id="<%= 'popover_submit'+i %>" type="button" class="btn btn-primary">submit</button>&nbsp;
                                    <button id="<%= 'popover_cancel'+i %>" type="button" class="btn btn-default">cancel</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <%}%>
            <!-- ---------게시글 줄당 출력 끝--------- -->
            </div>
            </table>
        </div>
    </div>
</center>
<form action="/BackHome" method="POST">
    <button class="btn btn-outline-secondary" type="submit">글 목록</button>
</form>
<script>
    $(document).ready(function() {
        $("#content_table tr").hover(
            function() { 
                var btn = $(this).children().children();
                btn.eq(1).show();
            },
            function() { 
                var btn = $(this).children().children();
                btn.eq(1).hide();
            });
    });
</script>
<script>
    //현재 어드바이스를 작성하는 line
    var selected_line
    var selected_td

    $(document).ready(function() {
        $(document).on('click', '.btn-danger', function() {
            var $this = $(this);
            var checkBtn = $(this);

            selected_line = checkBtn.text().substring(11) * 1;

            selected_td = checkBtn.parent();
            console.log(selected_td.find('#popover_cancel'+selected_line))
            
            $(selected_td.children('#popover'+selected_line)).popover({
                    trigger     :   'click',
                    placement   :   'right',
                    html        :   true,
                    content     :   function() {
                        var pop =  selected_td.children('#advice_line'+selected_line)
                        return pop.show()
                    },
                    container   :   'body'
            });

            // cancel
            $(selected_td.find('#popover_cancel'+selected_line)).click(function() {
                $this.popover('dispose')
            });

            // submit
            $(selected_td.find('#popover_submit'+selected_line)).click(function() {
                var advice = $('#textarea'+selected_line).val()
                $.ajax({
                    url:'/write_advice',
                    type:'POST',
                    data:{
                        advice  : advice,
                        line    : selected_line,
                        post_no : $('#post_no').val()
                    },
                })
                $this.popover('dispose')
            });
        });
    });
</script>

<!-- // //이 코드 링크 http://jsfiddle.net/phpdeveloperrahul/e9wYL/ -->