<!-- ------------Advice 보기 클릭 시 나타나는 팝업창-------------- -->
<div class="container">
    <div class="popup-wrap" id="popup">
        <div class="popup">
            <div class="popup-head">
                <span class="head-title"><h3>Advice List</h3></span>
            </div>
            <div class="popup-body">
                <div class="body-content">
                    <div class="body-contentbox">
                        <div class="popup-tablebox">
                            <div id="advice_table">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-foot">
                <span class="pop-btn close" id="close">닫기</span>
            </div>
        </div>
    </div>
</div>

<!-- ------------게시글 삭제 버튼 클릭 시 나타나는 모달 창---------- -->
<div class="modal fade" id="delete_Dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">게시글 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                게시글을 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-secondary" href="/deletePost/<%=post.post_no%>">예</a>
                <button class="btn btn-outline-secondary" data-bs-dismiss="modal">아니오</button>
            </div>
        </div>
    </div>
</div>

<!-- -------------Advice 추가 버튼 클릭 시 나타나는 모달 창---------- -->
<div class="modal fade" id="advice_Dialog" tabindex="-1" aria-labelledby="AdviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AdviceModalLabel">Advice 추가</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label class="col-form-label">Code:</label>
              <div id="view_code"></div>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Advice:</label>
              <textarea class="form-control" id="advice_textarea"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="advice_submit">Advice 등록</button>
            <button type="button" class="btn btn-secondary" id="advice_close">닫기</button>
        </div>
      </div>
    </div>
  </div>

<!-- ---------------페이지 시작--------------- -->
<div class="html_body">
    <div class="menu_group" align="right">
        <% if( id == post.user_id ) { %>
        <div class="menu_item">
            <button class="btn btn-outline-secondary" id="show_Modal" data-bs-toggle="modal" data-bs-target="#delete_Dialog">게시글 삭제</button>
        </div>
        <% } %>
        <div class="menu_item">
            <form action="/BackHome" method="POST">
                <button class="btn btn-outline-secondary" type="submit">글 목록으로</button>
            </form>
        </div>
    </div>
<center>
    <input type="text" style="display: none;" value="<%= post.post_no %>" id="post_no">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <table class="table table-responsive">
                <tr>
                    <th scope='col' col width='20%'>제목</th>
                    <td scope='col' col width='80%'><%= post.post_title %></td>
                </tr>
                <tr>
                    <th scope='col' col width='20%'>작성자</th>
                    <td scope='col' col width='80%'><%= post.user_id %></td>
                </tr>
                <tr>
                    <th scope='col' col width='20%'>카테고리</th>
                    <td scope='col' col width='80%'><%= post.post_kategorie %></td>
                </tr>
                <tr>
                    <th scope='col' col width='20%'>게시일</th>
                    <td scope='col' col width='80%'><%= post.date %></td>
                </tr>
                <tr>
                    <th scope='col' col width='20%'>조회수</th>
                    <td scope='col' col width='80%'><%= post.viewcnt+1 %></td>
                    <!-- 조회수가 게시글을 본 후 +1되므로 게시글 안에서는 +1해서 보여주기 -->
                </tr>
                <tr>
                    <th colspan="8">Source Code</th>
                </tr>
            </table>
            <table class="table" id="content_table">
            <div id="line">
            <!-- ----------게시글 줄당 출력---------- -->
            <% for(let i = 0; i < post.post_content.length; i++){ %>
                <tr onmouseover="this.style.background='#FFE4E1'" onmouseout="this.style.backgroundColor='#FFFFFF'">
                    <td style="display: none;"><%= i %></td>
                    <td scope='col' col width='70%' class="content_td"><pre><%= post.post_content[i] %></pre></td>
                    <td scope='col' col width='30%' align="center" class="content_td">
                        <div class="btn-group" role="group" aria-label="Basic example" style="display:none;">
                            <button id="<%= 'modal-open'+i %>" type="button" class="btn btn-info">Advice 보기</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#advice_Dialog" data-bs-whatever="<%= i %>"
                                    data-bs-content="<%= post.post_content[i] %>">Advice 추가</button>
                        </div>
                    </td>
                </tr>
            <%}%>
            <!-- ---------게시글 줄당 출력 끝--------- -->
            </div>
            </table>
            
        </div>
    </div>
</center>
</div>


<!-- 마우스를 대면 하이라이트 효과 -->
<script>
    $(document).ready(function() {
        $("#content_table tr").hover(
            function() { 
                var btn = $(this).children().children();
                btn.eq(1).show();
            },
            function() { 
                var btn = $(this).children().children();
                btn.eq(1).hide();
            });
    });
</script>

<!-- Advice 입출력 관련 코드 -->
<!-- 빈 내용일 시 저장안하고 닫기만 하는 기능 추가 예정 -->
<script>
    //현재 어드바이스를 작성하는 line
    var selected_line
    var advice_Dialog = document.getElementById('advice_Dialog')
    var clicked_button
    
    $(document).ready(function() {
        // Advice 등록
        advice_Dialog.addEventListener('show.bs.modal', function (event) {
            clicked_button = event.relatedTarget
            var selected_code = clicked_button.getAttribute('data-bs-content')
            var view_code = $('#view_code')

            view_code.text(selected_code)
        });
        $('#advice_submit').click(function() {
            if ($('#advice_textarea').val() == ""){
                $("#advice_Dialog").modal('hide');
            }
            else{
                $.ajax({
                    url:'/write_advice',
                    type:'POST',
                    data:{
                        advice  : $('#advice_textarea').val(),
                        line    : clicked_button.getAttribute('data-bs-whatever'),
                        post_no : $('#post_no').val()
                    },
                    success : function(){
                        $("#advice_Dialog").modal('hide');
                        $('#advice_textarea').val("")
                    }
                })
            }
        });
        $('#advice_close').click(function() {
            $("#advice_Dialog").modal('hide');
            $('#advice_textarea').val("")
        })
        // Advice 보기
        $(".btn-info").click(function(){
            var checkBtn = $(this);
            selected_line = checkBtn.parent().parent().parent().children('td').eq(0).text()
            $.ajax({
                    url:'/read_advice',
                    type:'POST',
                    data:{
                        line    : selected_line,
                        post_no : $('#post_no').val()
                    },
                    success:function(args){
                        $('#advice_table').html(args)
                        $("#popup").css('display','flex').hide().fadeIn();
                    }
            })
            
        });
        $("#close").click(function(){
            $("#popup").fadeOut();
        });
    });
</script>
