<html>

<!-- ---------------------------Head--------------------------------- -->
<head>
    <meta charset="UTF-8">
    <title>SourceAdvice</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
        src="https://kit.fontawesome.com/2d323a629b.js"
        crossorigin="anonymous"
    ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">

    <%- include('../template/nav') %>
</head>
<!-- ---------------------------Head--------------------------------- -->

<!-- 0번은 게시판, 1번은 게시물 작성, 2번은 게시물 보기 -->
<!-- ---------------------------Body--------------------------------- -->
<body>
    <center>
    <% if (page_state == 0) { %>
        <%- include('../template/board_list') %>
    <% } else if (page_state == 1) { %>
        <%- include('../template/board_writePost') %>
    <% } else if (page_state == 2) { %>
        <%- include('../template/board_readPost') %>
    <% } %>
    </center>
    <%- include('../template/footer') %>
</body>
<!-- ---------------------------Body--------------------------------- -->

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
crossorigin="anonymous"></script>